In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
data=pd.Series([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29])

In [3]:
data

0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29
dtype: float64

In [20]:
mean=data.mean()

In [21]:
std=data.std()
n=15
confidence=0.99

In [22]:
interval_a = stats.t.interval(confidence, df=n-1, loc=mean, scale=std / np.sqrt(n))
interval_a

(np.float64(1.0901973384384906), np.float64(1.3871359948948425))

In [37]:

print('The mean number of characters printed before failure is :', np.round(interval_a,1),'in Millions.')

The mean number of characters printed before failure is : [1.1 1.4] in Millions.

Using Population Standard Deviation

In [10]:
b_std=0.2

In [8]:
z_score = stats.norm.ppf((1 + confidence) / 2)

In [11]:
margin_of_error = z_score * (b_std / np.sqrt(n))
margin_of_error

np.float64(0.13301525327090588)

In [31]:
interval_b_lower = mean - margin_of_error
interval_b_upper = mean + margin_of_error

In [33]:
print(interval_b_lower),
print(interval_b_upper)

1.1056514133957607
1.3716819199375725

In [38]:
print('The mean number of characters printed before failure is :', np.round(interval_b_lower,1),np.round(interval_b_upper,1),'in Millions.')

The mean number of characters printed before failure is : 1.1 1.4 in Millions.

In [40]:
# The conclusion is: We have samaple data's parameters so we can solve this with stats.t.interval.
# We dont't have any any population's mean so we solve it with margin_of_error method.